{% if page.banner_heading %}
<section class="banner" style="background-image: url('{{ site.baseurl }}/{{ page.banner_image }}');">
    <div class="container">
        <h1><span>{{ page.banner_heading }}</span></h1>
        <p>{{ page.banner_description }}</p>
    </div>
    <div class="external-links">
        {% if page.title == "Home" %}
        <a href="{{ site.baseurl }}/assets/pdf/Syllabus-COSI127B-Sp25.pdf" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Syllabus</strong></a>
        <a href="https://piazza.com/class/m5be2anlyef17z" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Piazza</strong></a>
        <a href="https://www.gradescope.com/courses/935039" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Gradescope</strong></a>
        <a href="https://moodle.brandeis.edu/course/view.php?id=1713" target=”_blank” class="btn fs-5 m-2"><strong style="color: $link-color;text-transform: uppercase;">Moodle</strong></a>
        {% endif %}    
    </div>
</section>
{% endif %}
